:root {
	--primary: rgba(255, 255, 255, 0.3);
	--secondary: rgba(255, 255, 255, 1);
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@font-face {
	font-family: "Silkscreen";
	src: url("assets/slkscr.ttf") format("truetype");
}

html,
body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	overflow: hidden;

	font-smooth: never;
	-webkit-font-smoothing: none;
	font-family: Silkscreen;
}

.overlay {
	color: var(--primary);
	position: absolute;
	left: 50%;
	top: 50%;
}

.centered {
	display: none;
	position: relative;
	transform: translate(-50%, -50%);
}

.input {
	position: absolute;
	border: 1px solid var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #6c6c6c;
}

.display {
	color: #6c6c6c;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

#left-control {
	display: none;
	left: 5%;
	top: 70%;
	height: 25%;
	width: 30%;
}

#button-1 {
	display: none;
	left: 80%;
	top: 30%;
	height: 25%;
	width: 15%;
}

#button-2 {
	display: none;
	left: 65%;
	top: 70%;
	height: 25%;
	width: 15%;
}

#hud {
	display: none;
}

#health {
	left: 5%;
	top: 10%;
}

#coins {
	left: 5%;
	top: 20%;
}

#fps {
	left: 5%;
	top: 90%;
}

#right-control {
	display: none;
	left: 80%;
	top: 70%;
	height: 25%;
	width: 15%;
}

.loading-paragraph span:before {
	animation: dots 2s linear infinite;
	content: "";
}

@keyframes dots {
	0%,
	20% {
		content: ".";
	}
	40% {
		content: "..";
	}
	60% {
		content: "...";
	}
	90%,
	100% {
		content: "";
	}
}

canvas {
	border: 1px solid black;
	width: 100%;
	height: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	/*
	cursor: none;
	cursor: url("assets/cursor.png"), pointer;
	*/
}